<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CSCSimpleModelEntities" connectionString="metadata=.\CSCSimpleModel.csdl|.\CSCSimpleModel.ssdl|.\CSCSimpleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ZVONEPC;Initial Catalog=CSCDatabase;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CSCDatabaseEntities" connectionString="metadata=.\Model1.csdl|.\Model1.ssdl|.\Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ZVONEPC;Initial Catalog=CSCDatabase;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BatchAnalysisModel.Properties.Settings.CSCDatabaseConnectionString"
      connectionString="Data Source=ZVONEPC;Initial Catalog=CSCDatabase;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>